.section-menu[data-v-5f5a062a]{display:flex;flex-wrap:wrap;user-select:none}.section-menu-item[data-v-5f5a062a]{width:340px;padding:10px;margin:10px}@media only screen and (max-width: 425px){.section-menu-item[data-v-5f5a062a]{width:100%;margin:10px 0;padding:0}}

