.logo[data-v-0b29e269]{text-align:center;margin-bottom:30px}.logo>img[data-v-0b29e269]{max-width:250px;max-height:200px}.logo .title[data-v-0b29e269]{display:block;font-weight:bold;font-size:1.5rem;margin:30px 0 70px}.logo .custom[data-v-0b29e269]{height:170px}

