/*
 * Root components
 */

$searchTransition: .1s;
$headerHeight: 50px;
$breadcrumbsHeight: 36px;

/*
 * From Google Chrome
 */

$laptopL: 1440px;
$laptop: 1024px;
$tablet: 768px;
$mobileL: 425px;
$mobileM: 375px;
$mobileS: 320px;
